.container {
    
    
    width: 660px;    
    
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.Left {
    
    flex-basis: 50%;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}


.Right {
    
    flex-basis: 50%;
    background-color: #acb324;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.My-img{
    width: 100px;
    
}

.My-num {
    
    font-size: 80px;
    flex-basis: 32.7%;
    border: 0.013px solid bisque;    
    margin: 0px;
    text-align: center;
    
}